[Unit]
Description=llama.cpp standalone server
After=network.target

[Service]
ExecStart={{ inference_standalone.install_bin_dir }}/llama-server \
  --models-preset /home/{{ common_service_account.name }}/.config/llamacpp/models-preset.ini \
  --models-max {{ inference_standalone.models_max }} \
  --host {{ inference_standalone.host }} \
  --port {{ inference_standalone.port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
