version = 1
{% for section, settings in inference_presets.items() %}

[{{ section }}]
{% for key, value in settings.items() %}
{{ key }} = {{ value | lower if value is boolean else value }}
{% endfor %}
{% endfor %}
