[Unit]
Description=llama-swap model router
After=network-online.target{% for m in models | selectattr('enabled') | list %} llamacpp-{{ m.name }}.service{% endfor %}

Wants=network-online.target{% for m in models | selectattr('enabled') | list %} llamacpp-{{ m.name }}.service{% endfor %}

[Service]
Type=simple
ExecStart={{ llamaswap_prefix }}/llama-swap \
  --config %h/.config/llamaswap/config.yaml \
  --listen :{{ llamacpp_port }}

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
