healthCheckTimeout: 60

models:
{% for m in models | selectattr('enabled') | list %}
  {{ m.name }}:
    proxy: "http://127.0.0.1:{{ m.port }}"
{% if m.aliases is defined %}
    aliases:
{% for alias in m.aliases.split(',') %}
      - "{{ alias | trim }}"
{% endfor %}
{% endif %}
{% endfor %}
